<%= form_with model: [@form, @answer] do |f| %>
  <% if @answer.errors.any? %>
    <h3>There were errors with your submission!</h3>
    <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.fields_for :answer_fields do |af| %>
    <% obj = af.object %>
    <% unless obj.outdated? %>
      <%= af.hidden_field :field_id %>

      <% if obj.string? %>
        <%= af.label :string_body, obj.field.label %>
        <%= af.text_field :string_body %>
      <% elsif obj.text? %>
        <%= af.label :text_body, obj.field.label%>
        <%= af.text_area :text_body %>
      <% end %>
    <% end %>
  <% end %>

  <%= f.submit %>
<% end %>
