<h1>Form Answers</h1>

<%= link_to 'New Answer', new_form_answer_path(@form) %>

<ul>
  <% @answers.each do |answer| %>
    <li><h2>By: <%= answer.email %> - <%= answer.created_at %> - <%= answer.outdated? ? 'Outdated' : 'Current' %></h2>
    <li><h2>Status: <%= answer.outdated? %></h2>
    <%= link_to 'Review', form_answer_path(@form, answer) %></li>
  <% end %>
</ul>
