<%= link_to 'Back', form_answers_path(@form) %>

<h1>Answer for <%= @form.title %></h1>
<h2>Respondent: <%= @answer.email %></h2>

<h3>Fields</h3>
<% @answer.answer_fields.each do |answer_field| %>
  <h4><%= answer_field.field.label %> - <%= answer_field.outdated? ? 'Outdated' : 'Current' %></h4>
  <p><%= answer_field.body %></p>
<% end %>
